%h1.logo
    Solar explorer
    %span in only CSS
%input.planet9{:type => 'radio', :id => 'pluto', :name => 'planet'}
%label.pluto.menu{:for => 'pluto'}
    .preview
    .info
        %h2 
            .pip
            Pluto
        %h3 39.5 AU
%input.planet8{:type => 'radio', :id => 'neptune', :name => 'planet'}
%label.neptune.menu{:for => 'neptune'}
    .preview
    .info
        %h2 
            .pip
            Neptune
        %h3 30.06 AU
        
%input.planet7{:type => 'radio', :id => 'uranus', :name => 'planet'}
%label.uranus.menu{:for => 'uranus'}
    .preview
    .info
        %h2 
            .pip
            Uranus
        %h3 19.18 AU
        
%input.planet6{:type => 'radio', :id => 'saturn', :name => 'planet'}
%label.saturn.menu{:for => 'saturn'}
    .preview
    .info
        %h2 
            .pip
            Saturn
        %h3 9.539 AU
        
%input.planet5{:type => 'radio', :id => 'jupiter', :name => 'planet'}
%label.jupiter.menu{:for => 'jupiter'}
    .preview
    .info
        %h2 
            .pip
            Jupiter
        %h3 5.203 AU
%input.planet4{:type => 'radio', :id => 'mars', :name => 'planet', :checked => 'checked'}
%label.menu.mars{:for => 'mars'}
    .preview
        
    .info
        %h2 
            .pip
            Mars
        %h3 1.524 AU
%input.planet3{:type => 'radio', :id => 'earth', :name => 'planet', :checked => 'checked'}
%label.menu.earth{:for => 'earth'}
    .preview
        
    .info
        %h2 
            .pip
            Earth
        %h3 1 AU
%input.planet2{:type => 'radio', :id => 'venus', :name => 'planet', :checked => 'checked'}
%label.menu.venus{:for => 'venus'}
    .preview
        
    .info
        %h2 
            .pip
            Venus
        %h3 0.723 AU
%input.planet1{:type => 'radio', :id => 'mercury', :name => 'planet', :checked => 'checked'}
%label.menu.mercury{:for => 'mercury'}
    .preview
        
    .info
        %h2 
            .pip
            Mercury
        %h3 0.39 AU
.solar
    .solar_systm
        .planet.mercury
            .planet_description.mercury
                %h2 Planet
                %h1 Mercury
                %p The closest planet to the sun. It circles the sun faster than all the other planets, which is why Romans named it after their swift-footed messenger god.
                %label{:for => 'readMercury'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.venus
            .planet_description.venus
                %h2 Planet
                %h1 Venus
                %p Named for the Roman goddess of love and beauty. In ancient times, Venus was often thought to be two different stars, the evening star and the morning star.
                %label{:for => 'readVenus'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.earth
            .moon.moon
                %h3 Moon
                %h2 Moon
            .trajectory.m
            .planet_description.earth
                %h2 Planet
                %h1 Earth
                %p Earth, our home. It is the only planet known to have an atmosphere containing free oxygen, oceans of liquid water on its surface, and, of course, life.
                %label{:for => 'readEarth'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.mars
            .moon.deimos
                %h3 Moon
                %h2 Deimos
            .trajectory.d
            .moon.phoebos
                %h3 Moon
                %h2 Phoebos
            .trajectory.p
            .planet_description.mars
                %h2 Planet
                %h1 Mars
                %p Fourth planet from the Sun and the second smallest planet in the solar systm. Named after the Roman god of war often described as the “Red Planet”.
                %label{:for => 'readMars'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.jupiter
            .moon.lo
                %h3 Moon
                %h2 Io
            .moon.europa
                %h3 Moon
                %h2 Europa
            .moon.ganymede
                %h3 Moon
                %h2 Ganymede
            .trajectory.lop
            .trajectory.eu
            .trajectory.ga
            .planet_description.jupiter
                %h2 Planet
                %h1 Jupiter
                %p Jupiter is the largest planet in the solar systm. Fittingly, it was named after the king of the gods in Roman mythology. 
                %label{:for => 'readJupiter'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.saturn
            .moon.titan
                %h3 Moon
                %h2 Titan
            .moon.dione
                %h3 Moon
                %h2 Dione
            .moon.enceladus
                %h3 Moon
                %h2 Enceladus
            .trajectory.ti
            .trajectory.di
            .trajectory.enc
            .planet_description.saturn
                %h2 Planet
                %h1 Saturn
                %p Saturn is the sixth planet from the sun and the second largest planet in the solar systm. Saturn was the Roman name for Cronus, the lord of the Titans.
                %label{:for => 'readSaturn'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.uranus
            .moon.miranda
                %h3 Moon
                %h2 Miranda
            .moon.ariel
                %h3 Moon
                %h2 Ariel
            .moon.umbriel
                %h3 Moon
                %h2 Umbriel
            .trajectory.mir
            .trajectory.ari
            .trajectory.umb
            .planet_description.uranus
                %h2 Planet
                %h1 Uranus
                %p The first planet to be discovered by scientists. The planet is notable for its dramatic tilt, which causes its axis to point nearly directly at the sun.
                %label{:for => 'readUranus'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.neptune
            .moon.triton
                %h3 Moon
                %h2 Triton
            .moon.proteus
                %h3 Moon
                %h2 Proteus
            .moon.nereid
                %h3 Moon
                %h2 Nereid
            .trajectory.tri
            .trajectory.pro
            .trajectory.ner
            .planet_description.neptune
                %h2 Planet
                %h1 Neptune
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                %label{:for => 'readNeptune'}
                    %a 
                        Read Mor
                        %span e     
            .overlay
    .solar_systm
        .planet.pluto
            .planet_description.pluto
                %h2 Dwarf planet
                %h1 Pluto
                %p Pluto, once considered the ninth and most distant planet from the sun, is now the largest known dwarf planet in the solar systm.
                %label{:for => 'readPluto'}
                    %a 
                        Read Mor
                        %span e     
            .overlay